Source: linux-qemu
Section: kernel
Priority: optional
Maintainer: Mohammed Sameer <msameer@foolab.org>
Standards-Version: 3.9.5
Build-Depends: debhelper, quilt, bc, kmod
Build-Conflicts: lilo
Homepage: https://www.kernel.org/

Package: linux-image-qemu
Depends: kmod, util-linux, ${misc:Depends}
Provides: linux-image
Architecture: any
Description: Linux image for qemu
 Linux kernel and modules needed for qemu

Package: linux-headers-qemu
Depends: ${misc:Depends}
Provides: linux-headers
Architecture: any
Description: Linux image for qemu headers
 Linux image for qemu headers
